@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f8f9fb;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.pagination {
  display: flex;
  justify-content: space-around;
  margin: 1rem 1rem;
  position: fixed;
  width: 77%;
  bottom: 0;
  border: 1px solid gray;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 0.5rem 1rem;
}

.active {
  color: #614d87;
}

.ag-theme-alpine .ag-cell {
  border: 1px solid #ccc; /* Add borders to all cells */
}

.ag-theme-alpine .ag-row {
  border-collapse: separate; /* Ensure borders don't collapse */
}

.bold-cell {
  font-weight: bold;
}
